{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container contner">
        <div class="row">
            <p>Ses commandes</p>
            <p>Gestion de son compte</p>
        </div>
    </div>
{% endblock %}
