/* ==================== Imports ==================== */
@font-face {
    font-family: "D-Din";
    src: url("../font/D-DINCondensed.otf");
}

/* ==================== Tags ==================== */
body {
    font-family: "D-Din", sans-serif;
    padding: 0;
    margin: 0 0 0 0;
}

body.open {
    overflow-x: hidden;
}

nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

ul {
    margin: 0;
    padding: 0;
}

/* ==================== Classes ==================== */

.dressing {
    font-size: 26px;
}

/*
    Menu Burger
*/

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger {
    width: 50px;
    height: 6px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: #f1f1f1;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
    transform: translateY(-16px);
}
.menu-btn__burger::after {
    transform: translateY(16px);
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/*
    Sidebar
 */

.sidebar {
    position: absolute;
    left: -25%;
    height: 88vh;
    width: 25%;
    /*opacity: 95%;*/
    transition: all .5s ease-in-out;
}
.sidebar.open {
    transform: translateX(100%);
}

.sidebar-menu__dressing {
    display: none;
    font-size: 22px;
}

.sidebar-menu__icon {
    font-size: 22px;
}

.slides {
    height: 300px;
}

/*
    Footer
 */

.footer-reseaux {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-reseaux-mobile {
    display: none;
}

/* ==================== Ids ==================== */

#main {
    transition: all .5s ease-in-out;
}

#main.open {
    transform: translateX(24.99%);
}

#idea,
.signature {
    font-weight: bold;
    font-size: 54px;
}

#languages {
    cursor: pointer;
}

#languages:focus {
    outline: none;
}

#iconics-title {
    font-weight: bold;
}

/* ==================== Media Querries ==================== */

@media screen and (max-width: 768px) {
    #idea,
    .signature {
        font-size: 32px;
    }
    .slides {
        height: 230px;
    }
    .sidebar {
        width: 100%;
        left: -100%;
    }
    .sidebar.open {
        transform: translateX(100%);
    }
    .sidebar-menu__dressing {
        display: block;
    }
    .footer-reseaux-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .sidebar__dressing {
        font-size: 22px;
        font-weight: bold;
    }
    .dressing {
        display: none;
    }
    .footer-reseaux {
        display: none;
    }
    #main.open {
        transform: translateX(0);
    }
}

@media screen and (max-width: 576px) {
    #idea,
    .signature {
        font-size: 18px;
    }
    .sidebar {
        opacity: 95%;
    }
    .slides {
         height: 130px;
    }
}