<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Amaj Paris - {% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <header>
                <nav></nav>
            </header>
        {% endblock %}
        <footer>
           <div class="d-flex justify-content-around align-items-center p-4 bg-dark">
               <div>
                   <div class="text-center">
                       <a href="{{ path('home_page') }}">
                           <img height="150px" src="{{ asset('assets/img/logo/logo_amaj.png') }}" alt="Logo Amaj Paris">
                       </a>
                   </div>
                   <div class="d-flex justify-content-around fs-3">
                       <div>
                           <a class="nav-link text-white" href="#">
                               <i class="fab fa-facebook"></i>
                           </a>
                       </div>
                       <div>
                           <a class="nav-link text-white" href="#">
                               <i class="fab fa-instagram"></i>
                           </a>
                       </div>
                   </div>
               </div>
               <div>
                   <ul class="navbar-nav lh-sm">
                       <li class="nav-item">
                           <a class="nav-link text-white fs-5" href="#">{% trans %}Le dressing unisexe{% endtrans %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-white" href="#">{% trans %}Vêtements{% endtrans %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-white" href="#">{% trans %}Collections{% endtrans %}</a>
                       </li>
                   </ul>
               </div>
               <div>
                   <ul class="navbar-nav lh-sm">
                       <li class="nav-item">
                           <a class="nav-link text-white fs-5" href="#">{% trans %}Je personnalise{% endtrans %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-white" href="#">{% trans %}Personnalisations{% endtrans %}</a>
                       </li>
                       <li class="nav-item">
                           <a class="nav-link text-white" href="#">{% trans %}Ateliers{% endtrans %}</a>
                       </li>
                   </ul>
               </div>
           </div>
            <div class="mt-2">
                <ul class="d-flex justify-content-around">
                    <li class="list-unstyled">
                        <a class="nav-link text-dark" href="#">{% trans %}À propos{% endtrans %}</a>
                    </li>
                    <li class="list-unstyled">
                        <a class="nav-link text-dark" href="#">{% trans %}CGV{% endtrans %}</a>
                    </li>
                    <li class="list-unstyled">
                        <a class="nav-link text-dark" href="#">{% trans %}Livraisons & Retours{% endtrans %}</a>
                    </li>
                    <li class="list-unstyled">
                        <a class="nav-link text-dark" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </footer>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>
</html>
